extends layout

block layout-content
    div.View.UserView
        h1.Banner !{promoter.title} !{promoter.firstName} !{promoter.lastName}
        div.Table
            div.Title
                h1 Thesis Topics
            form.Details(method='GET' action="/promoter/suggest")
                table(style = 'width:100%' border = '1')
                    thead
                        tr
                            th= "Options"
                            th= "Status"
                            th= "Student Email"
                            th= "Polish Topic"
                            th= "English Topic"
                            th= "Language"
                    tbody
                        for thesis in theses
                            if thesis.status === "PENDING"
                                tr.OPEN
                                    td
                                        a.Link(href="/promoter/acceptThesis?studentEmail=" + thesis.studentEmail)= "ACCEPT"
                                        |  ||
                                        a.Link(href="/promoter/rejectThesis?studentEmail=" + thesis.studentEmail)= "REJECT"
                                    td= thesis.status
                                    td= thesis.studentEmail
                                    td= thesis.topicPolish
                                    td= thesis.topicEnglish
                                    td= thesis.language
                            else
                                tr.UNAVAILABLE
                                    td
                                    td= thesis.status
                                    td= thesis.studentEmail
                                    td= thesis.topicPolish
                                    td= thesis.topicEnglish
                                    td= thesis.language
                div.NavButtons
                    input(type="submit" name="accept" value="Suggest Thesis Topic")
