extends layout

block layout-content
    div.View.UserView
        div.Form
            div.Title
                h1 STATUS: #{thesis.status}
            form(method='POST')
                div.Details
                    label(for="firstName" class="sr-only") First Name
                    input(disabled=true value=student.firstName type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" required)
                    label(for="lastName" class="sr-only") Last Name
                    input(disabled=true value=student.lastName type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name" required)
                    label(for="index" class="sr-only") Index Number
                    input(disabled=true value=student.index type="text" name="index" id="index" class="form-control" placeholder="Last name" required)
                    label(for="specialization" class="sr-only") Specialization (or N/A)
                    input(disabled=true value=student.specialization type="text" name="specialization" id="specialization" class="form-control" placeholder="Specialization" required)
                    label(for="degreeOfStudy" class="sr-only") Degree of study
                    input(disabled=true value=student.degreeOfStudy type="text" name="degreeOfStudy" id="degreeOfStudy" class="form-control" placeholder="Degree of study" required)
                    label(for="formOfStudy" class="sr-only") Form of study
                    input(disabled=true value=student.formOfStudy type="text" name="formOfStudy" id="formOfStudy" class="form-control" placeholder="Form of study" required)
                    label(for="yearOfStudy" class="sr-only") Year of study
                    input(disabled=true value=student.yearOfStudy min="1" max="10" type="number" oninput="validity.valid||(value='')" name="yearOfStudy" id="yearOfStudy" class="form-control" placeholder="Year of study" required)
                    label(for="topicPolish" class="sr-only") Polish Topic
                    input(disabled=true value=thesis.topicPolish type="text" name="topicPolish" id="topicPolish" class="form-control" placeholder="Polish Topic" required autofocus)
                    label(for="topicEnglish" class="sr-only") English Topic
                    input(disabled=true value=thesis.topicEnglish type="text" name="topicEnglish" id="topicEnglish" class="form-control" placeholder="English Topic" required)
                    label(for="language" class="sr-only") Language
                    input(disabled=true value=thesis.language type="text" name="language" id="language" class="form-control" placeholder="Language" required)
                    label(for="goalAndScope" class="sr-only") Goal and scope
                    textarea(disabled=true name="goalAndScope" rows="5" id="goalAndScope" class="form-control" placeholder="Goal and scope" required) #{thesis.goalAndScope}
                    label(for="initialStructure" class="sr-only") Initial Structure
                    textarea(disabled=true name="initialStructure" rows="5" id="initialStructure" class="form-control" placeholder="Initial Structure" required) #{thesis.initialStructure}
                    input(hidden=true value=student.email type="text" name="email" id="email" class="form-control" placeholder="Email")
                div.NavButtons
                    input(hidden=reviewHidden type="submit" name="accept" value="Accept Thesis Topic" formaction="/promoter/acceptThesis")
                    input(hidden=reviewHidden type="submit" name="reject" value="Reject Thesis Topic" formaction="/promoter/rejectThesis")