extends layout

block layout-content
    div.View.UserView
        h1.Banner Update Your Details
        div.Form
            div.Title
                h1 Student Details
            form(method='POST' action="/student/updateDetails")
                div.Details
                    label(for="firstName" class="sr-only") First Name
                    input(value=student.firstName type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" required)
                    label(for="lastName" class="sr-only") Last Name
                    input(value=student.lastName type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name" required)
                    label(for="index" class="sr-only") Index Number
                    input(disabled=true value=student.index type="text" name="index" id="index" class="form-control" placeholder="Index number")
                    label(for="specialization" class="sr-only") Specialization (or N/A)
                    input(value=student.specialization type="text" name="specialization" id="specialization" class="form-control" placeholder="Specialization" required)
                    label(for="degreeOfStudy" class="sr-only") Degree of study
                    select(name="degreeOfStudy" id="degreeOfStudy" class="form-control")
                        each degree in ["I", "II"]
                            option= degree
                    label(for="formOfStudy" class="sr-only") Form of study
                    select(name="formOfStudy" id="formOfStudy" class="form-control")
                        each form in ["ST", "NZ"]
                            option= form
                    label(for="yearOfStudy" class="sr-only") Year of study
                    input(value=student.yearOfStudy min="1" max="10" type="number" oninput="validity.valid||(value='')" name="yearOfStudy" id="yearOfStudy" class="form-control" placeholder="Year of study" required)
                div.NavButtons
                    input(type="submit" value="Update your details")
        div.dummy